body {
  background: url("images/bg.jpg") repeat;
  margin: 0;
  padding: 0;
}

#music-toggle {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 47px;
  height: 47px;
  background-image: url('images/audio_muted.png');
  background-size: cover;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Pulsante Home */
.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #4CAF50;
  background-color: black;
  border: 2px solid #4CAF50;
  text-decoration: none;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #4CAF50;
  color: black;
}

/* Stili per l'indirizzo del wallet */
.wallet-address {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #4CAF50;
  word-break: break-word;
  text-align: center;
  max-width: 180px;
}

/* Nuovi stili per il contenitore delle GIF */
.gif-container {
  position: absolute;
  top: 20px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.gif-container2 {
  position: absolute;
  top: 20px;
  left: 118px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.gif-item {
  width: 100px;
  height: auto;
}

