body {
	background: #2E3440; /* blu notte scuro */
	color: #D8DEE9; /* grigio chiaro */
	margin-bottom: 200px;
	font-family: "Garamond", Georgia, serif, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji';
}

h1 {
	color: #81A1C1; /* azzurro chiaro */
}
h2 {
	color: #88C0D0; /* azzurro */
}
h3 {
	color: #8FBCBB; /* verde acqua chiaro */
}
h4 {
	color: #E5E9F0; /* bianco sporco */
}
h5, h6 {
	color: #D8DEE9; /* grigio chiaro */
}

strong {
	color: #EBCB8B; /* giallo tenue */
}

a {
	color: #81A1C1; /* azzurro chiaro */
	text-decoration: none;
}

a:hover {
	color: #88C0D0; /* azzurro */
}

.titleimg {
	text-align: center;
}

.titleimg img {
	margin: auto;
	max-width: 90%;
	max-height: 400px;
	display: block;
}

.years img {
	margin: auto;
	max-width: 90%;
	max-height: 400px;
	display: block;
}

figcaption {
	text-align: center;
	font-style: italic;
	color: #81A1C1; /* azzurro chiaro */
}

.lw, dt img, dd img, p img, li img, h1 img, h2 img, h3 img, h4 img, dt img, td img, button img {
	max-height: .8em;
	max-width: 1em;
	vertical-align: middle;
}

.loc {
	display: none;
	color: #4C566A; /* grigio medio */
}

.copies, .volumes {
	color: #4C566A; /* grigio medio */
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	clear: both;
}

header {
	text-align: center;
	font-family: "Fira Sans", sans;
	padding-bottom: 15pt;
	color: #D8DEE9;
}
header h1 {
	font-size: 30pt;
	margin-bottom: 0;
	color: #81A1C1;
}
header h2 {
	margin-top: 0;
	font-style: italic;
	padding: .5em;
	color: #88C0D0;
}
main {
	max-width: 1000px;
	margin: auto;
}

footer {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: both;
	color: #4C566A;
}

sup {
	vertical-align: top;
	font-size: 0.6em;
	color: #D8DEE9;
}

#TableOfContents li {
	text-align: center;
	font-size: large;
	display: block;
	font-variant: small-caps;
	color: #D8DEE9;
}

#TableOfContents ul {
	margin: 0;
	padding: 0;
}

#TableOfContents li li {
	font-size: small;
	font-variant: none;
	color: #4C566A;
}

code {
	color: #A3BE8C; /* verde tenue */
}

.resright {
	margin: auto;
	display: block;
	text-align: center;
	max-width: 100%;
}
.resright img {
	max-height: 400px;
}

nav ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}

nav ul li {
	display: inline;
	margin: .25em;
	color: #D8DEE9;
}

nav {
	border-bottom: 1px #4C566A dotted;
	width: 100%;
}

.imgfig {
	text-align: center;
}

.rounded img {
	border-radius: 0%;
}

.maintab {
	margin: auto;
	max-width: 600px;
	border: solid #81A1C1 2px; /* azzurro */
}
.maintab a {
	display: block;
	width: 100%;
	color: #D8DEE9;
}

.maintab tr td:first-child {
	font-size: x-large;
	color: #81A1C1;
}

td, th {
	padding: .5em;
	max-width: 500px;
	border: solid #4C566A 1px;
	border-collapse: collapse;
	color: #D8DEE9;
}

.maintab td:nth-child(1) {
	font-size: large;
	color: #88C0D0;
}

.card {
	max-width: 250px;
	margin: auto;
	float: right;
	clear: both;
	color: #D8DEE9;
}

.cardtop {
	max-width: 100px;
	display: inline-block;
	margin: .25em;
}

.cardcont {
	text-align: center;
	max-width: 700px;
	margin: auto;
	color: #D8DEE9;
}

.cardtop img {
	max-width: 100%;
}

.card img {
	max-width: 100%;
	max-height: 300px;
}

.minicard {
	max-width: 150px;
	display: inline;
	text-align: left;
	padding: 0;
	margin: 0;
	color: #D8DEE9;
}

.minicard img {
	max-width: 150px;
	max-height: 100%;
}

hr {
	clear: both;
	border-color: #4C566A;
}

.column {
	float: left;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	color: #D8DEE9;
}

@media (min-width: 1000px) {
	.column {
		max-width: 50%;
	}
	.resright, .profile {
		display: block;
		float: right;
		clear: both;
		padding: 10px;
		max-width: 400px;
	}
}

.taglist {
	max-width: 400px;
	margin: auto;
	text-align: center;
	margin-bottom: 1em;
	color: #D8DEE9;
}

