<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Benvenuto nel mio Portfolio!</h1>
  </header>
  <main>
    <p>Questa è la mia pagina principale.</p>
  </main>
</body>
</html>

